/* CSS for the main Book Generator display */
.fsworkshop-spellbook-gen label {
	flex: 1 10 4em;
	max-height: 2em;
	margin-left: 1em;
	align-self: center;
}

.fsworkshop-spellbook-gen input,
.fsworkshop-spellbook-gen select {
	flex: 10 1 12em;
	max-height: 2em;
	max-width: 18em;
}

.fsworkshop-spellbook-gen select {
	max-width: 78%;
}

.fsworkshop-spellbook-gen .owner-unlink {
	font-size: 2em;
	margin: 4px;
}

.fsworkshop-spellbook-gen code {
	font-weight: bold;
	color: darkblue;
}

.fsworkshop-spellbook-gen img {
	flex: 0 0 64px;
	width: 64px;
	height: 64px;
}

.fsworkshop-spellbook-gen .book-owner-name {
	flex: 2 0 12em;
}

.fsworkshop-spellbook-gen .book-owner-id {
	flex: 2 0 8em;
	font-family: monospace;
}

.fsworkshop-spellbook-gen .owner-unlink {
	flex: 0 1 24px;
	width: 24px;
}

.fsworkshop-spellbook-gen .book-owner-labels {
	flex: 1 10 6em;
}

.fsworkshop-spellbook-gen .book-owner-data {
	flex: 3 0 10em;
}

.fsworkshop-spellbook-gen .spell-level-select {
	max-width: 70%;
}

.fsworkshop-spellbook-gen .book-owner-select {
	max-width: 60%;
}


/* CSS for the Book Stats display */
.fsworkshop-spellbook-gen-stats .book-stats-label {
	flex: 1 0 2em;
	font-family: monospace;
}

.fsworkshop-spellbook-gen-stats .form-group label {
	padding: 1px 3px;
}

.fsworkshop-spellbook-gen-stats .book-stats-labels {
	flex: 3 0 2em;
}

.fsworkshop-spellbook-gen-stats .book-stats-data {
	flex: 3 0 10em;
}

/* CSS for the Create Book form */
.fsworkshop-spellbook-gen-create .book-create-label {
	flex: 1 0 2em;
	font-family: monospace;
}

.fsworkshop-spellbook-gen-create .form-group label {
	padding: 1px 3px;
}

.fsworkshop-spellbook-gen-create .book-create-labels {
	flex: 3 0 2em;
}

.fsworkshop-spellbook-gen-create .book-create-data {
	flex: 3 0 10em;
}